.editor-intro {
    width: 80%;
    margin: 2rem auto 2rem;

}
.editor-intro h1 {
    color: var(--main-color);
}

.editor-nav-center {
    width: calc(80% - 1rem);
    margin:auto;
}

.editor-nav {
    display: flex;
    justify-content: end;

    padding-right: 4rem;
}

.editor-nav-btn {
    border: none;
    outline: none;
    background-color: var(--main-color-shade-1);
    color: var(--light-text);
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 2rem;
    margin-left: 1rem;
    cursor: pointer;
}

.editor-nav-btn:focus {
    background-color: var(--article-base);
    color: var(--dark-text);
}

.editor-body {
    padding: 2rem;
    margin-bottom: 4rem;
}

.editor-label {
    font-size: 1.5rem;
    font-weight: 600;
}

.editor-input {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    padding: .25rem;
    margin-bottom: 1rem;
    background-color: var(--main-color-shade-2);
    border: none;
}

.editor-ad-inputs {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}
.editor-ad-inputs span {
    width: 50%;
}
.editor-a-input, .editor-d-input {
    width: 100%;
    font-size: 1.25rem;
    padding: .25rem;
    background-color: var(--main-color-shade-2);
    border: none;
    border-radius: 3px;
}

textarea.editor-input {
    resize: vertical;
   
}

.add-editor-inputs-btn {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-button);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.add-editor-inputs-btn img {
    width: 2rem;
}


.editor-buttons {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.editor-post-btn, .editor-update-btn, .editor-clear-btn {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--light-text);
    background-color: var(--main-color);
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.editor-update-btn:disabled, .editor-post-btn:disabled, .editor-clear-btn:disabled {
    opacity: .7;
}


/* recent posts */
.editor-recent-posts {
    display: none;
}

.editor-recent-posts-body {
    width: 100%;
    display: flex;
    gap: 1rem;
    box-shadow: 1px 5px 5px var(--main-color);
    padding: 1rem;
}

.recent-posts-img {
    width: 30%;
    max-width: 250px;
}

.recent-posts-img img {
    width: 100%;
}

.recent-posts-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-title {
    font-size: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.details-date {
    font-size: 1.2rem;
    font-weight: 500;
}

.recent-posts-body-buttons {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.buttons-share, .buttons-edit, .buttons-delete {
    padding: 0.25rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
}

.buttons-share {
    background-color: var(--share-button);
    cursor: pointer;
}
.buttons-edit {
    background-color: var(--main-button);
    cursor: pointer;
}
.buttons-delete {
    background-color: var(--delete-button);
    cursor: pointer;
}

.buttons-share:hover, .buttons-edit:hover, .buttons-delete:hover {
    opacity: .8;
}

.buttons-share:active, .buttons-edit:active, .buttons-delete:active {
    opacity: .6;
}